body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 15px;
    cursor: pointer;
}
 
.background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
}
 
.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
 
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.logo img {
    width: 60px;
}
 
.nav-list li {
    list-style: none;
    padding: 26px 30px;
    padding: 10px;
}
 
.nav-list li a {
    text-decoration: none;
    color: white;
}
 
.nav-list li a:hover {
    color: grey;
}
 
.rightnav {
    width: 30%;
    text-align: right;
}
 
#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
    box-sizing: border-box;
    width: 70%;
    padding: 8px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
 
.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
 
.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
    padding: 8px 20px;
    margin: 7px 5px;
}
 
.rightnav {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}

table {
    width: 100%;
}
table, tr, td {
    border: 1px solid black;
    
}

/* Diesen Teil noch für Telefon optimieren */
@media screen and ( min-width: 800px ) {
    .box-left { float: left; width: 30%; margin-right: 2%; padding: 20px; box-sizing: border-box; }
    .box-right { float: left; width: 67%; margin-right: 0; padding: 20px; box-sizing: border-box; }
}

@media screen and ( max-width: 800px ) {
    .box-left { float: left; width: 100%; margin-right: 0; padding: 20px; box-sizing: border-box; }
    .box-right { float: left; width: 100%; margin-right: 0; padding: 20px; box-sizing: border-box; }
}